<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Tailwind Test3</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
          .img{
            height: 300px;
              width: 300px;
              padding: 10px;
              margin-left: auto;
              margin-right: auto;
              border-radius:10cm;
          }
        </style>
        
    </head>
    <body>
      <nav class="bg-gradient-to-r from-cyan-900 to-blue-400">
        <div class="flex flex-wrap justify-between p-4">
          <a href="#" class="flex items-center space-x-3 ">
          </a>
          <!--  -->
          <div class="md:block" id="navbar-dropdown">
            <ul class="flex flex-col font-medium p-4  mt-4 md:space-x-8  md:flex-row border-0 dark:bg-transparent ">
              <li>
                <a href="../src/index.html" class="block py-2 px-3 p-0 text-white md:text-blue-700 " aria-flowto="page">Mi Cocina</a>
      
              </li>
      
              <li>
                <a href="../pages/Hgastro.html" class="block py-2 px-3 p-0 text-white md:text-blue-700 " aria-flowto="page">Historia Gastronomica</a>
              </li>
              <li>
                <a href="../pages/Restaurants.html" class="block py-2 px-3   border-0 hover:text-blue-700 p-0 text-white ">Restaurantes</a>
              </li>
              <li>
                <a href="../pages/Recetas.html" class="block py-2 px-3   border-0 hover:text-blue-700 p-0 text-white ">Recetas de Cocina</a>
              </li>
              <li>
                <a href="../pages/ResAlimentaria.html" class="block py-2 px-3   border-0 hover:text-blue-700 p-0 text-white ">Reseña Alimentaria</a>
              </li>
              <li>
                <a href="../pages/platostipicos.html" class="block py-2 px-3   border-0 hover:text-blue-700 p-0 text-white ">Platos Tipicos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <h1 class="text-center p-4 font-extrabold bg-slate-300">Historia de la Gastronomía</h1>
        <p class="text-center m-6">La historia de la gastronomía se remonta a la antigüedad clásica, cuando surgieron los primeros recetarios, en parte impulsados por la presencia en la Roma Imperial de alimentos provenientes 
          de diversos rincones de África, Asia y Europa del norte.
          La tradicional dieta romana se vio entonces enriquecida enormemente, lo cual además convirtió el acto de comer en un acto ceremonial en el que se introducían los alimentos antes de incorporarlos al banquete, 
          destinado a los nobles y a los ricos. No faltaron entonces tratadistas sobre la comida, como Lúculo y Marco Gravio Apicio.
          La gastronomía fue muy valorada en este largo período en que, paradójicamente, las hambrunas y la miseria abundaron. Fueron comunes los tratados culinarios como The forme of Curry, de Ricardo III de Inglaterra, o Daz Buch von guter Spise, obra alemana anónima.
          Con el Renacimiento europeo, la gastronomía cobró aún mayor realce, especialmente en Francia, donde el barroco y la dinastía borbónica fomentaron las artes del buen comer entre la nobleza, 
          incluso en las épocas en que la plebe pasaba hambre.</p>   
      </div>
      <div class="img">
      </div>
    </body>
</html>